<div class="row fathead" ng-class="{'open': isFatheadCollapsed}" ng-if="fathead.content" >
  <div class="col-xs-12 fathead-inner">
    <div class="container-fluid">
      <h2>{{ 'RELATED_TO' | translate }} : {{fathead.title}}</h2>
      <div class="treatments">
        <ul>
          <li ng-repeat="treatment in fathead.content">
            <h3>{{ treatment.label }} -
              <small><a target="_blank" href="{{treatment.uri.namespace}}{{treatment.uri.localName}}">{{ 'DETAILS' | translate }}</a></small>
            </h3>
            <p ng-bind-html="treatment.definition | to_trusted"></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center toggle">
      <button ng-click="isFatheadCollapsed = !isFatheadCollapsed" class="btn btn-default">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
