<h3>{{ 'READABILITY' | translate }}</h3>
<div class="progress-wrapper">
<round-progress
  max="100"
  current="screenshot.readability"
  color="{{getColor(screenshot.readability)}}"
  bgcolor="#eaeaea"
  radius="100"
  stroke="14"
  semi="false"
  rounded="true"
  clockwise="true"
  responsive="true"
  duration="800"
  animation="easeInOutQuart"
  animation-delay="0"></round-progress>
  <div class="text">
    <i class="fa fa-3x fa-book hidden-lg" aria-hidden="true"></i>
    <i class="fa fa-4x fa-book visible-lg" aria-hidden="true"></i>
  </div>
</div>
