<h3>{{ 'TRUSTABILITY' | translate }}</h3>
<div class="progress-wrapper">
<round-progress
  max="100"
  current="screenshot.trustability"
  color="{{getColor(screenshot.trustability)}}"
  bgcolor="#eaeaea"
  radius="100"
  stroke="14"
  semi="false"
  rounded="true"
  clockwise="true"
  responsive="true"
  duration="800"
  animation="easeInOutQuart"
  animation-delay="0"></round-progress>
  <div class="text">
    <i class="fa fa-3x fa-stethoscope hidden-lg" aria-hidden="true"></i>
    <i class="fa fa-4x fa-stethoscope visible-lg" aria-hidden="true"></i>
  </div>
</div>
