<div class="vert-padding-top-4 settingsView">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <h1 id="kconnect">Health Trust Indicator</h1>
        <hr>
        <div class="row">
        	
        	<h3>Different displays according to the number of criteria identified automatically by the automated system.
        	<br /><img src="../flags/fra.svg" width="12" valign="middle">	 Explications des différentes icônes de l’extension
        	</h3>
        	
        	<table border="1">
        	<tbody>
        	<tr style="padding: 15px;text-align: justify;">
        	<td align="center">
        	Trustability<br /><img src="../images/extension/type1.png" width="100"><br />Confiance
        	</td>
        	<td style="padding: 15px;text-align: justify;">
        	The system is not able to automatically calculate the level of trust. The page or website is not crawled and indexed.        		
        	<br /><br />
        	<img src="../flags/fra.svg" width="12" valign="middle"> Le système n’est pas capable d’évaluer automatiquement le niveau de confiance. La page ou le site n’ont pas été parcourus et indexés.
        	
        	</td>	
        	</tr>	
        	
        	<tr style="padding: 15px;text-align: justify;">
        	<td align="center">
        	Readability<br /><img src="../images/extension/type2.png" width="100"><br />Lisibilité	
        	</td>
        	<td style="padding: 15px;text-align: justify;">
        	The system has been able to automatically calculate the readability score of the page. Advanced knowledge of health terminology required
        	<br /><br />
        	<img src="../flags/fra.svg" width="12" valign="middle"> Le système a été capable d’évaluer automatiquement le score de lisibilité de la page. Connaissances avancées en terminologie médicale nécessaires.
        	</td>	
        	</tr>	
        	
        	<tr style="padding: 15px;text-align: justify;">
        	<td align="center">
        	Trustability<br /><img src="../images/extension/type3.png" width="100"><br />Confiance
        	</td>
        	<td style="padding: 15px;text-align: justify;">
        	The system has been able to automatically calculate the trust level score. More than 6 criteria have been detected automatically.
        	<br /><br />
        	<img src="../flags/fra.svg" width="12" valign="middle"> Le système a été capable d’évaluer automatiquement le niveau de confiance de la page. Plus de 6 critères ont été automatiquement détectés.
        	</td>	
        	</tr>	
        	
        	
        	<tr style="padding: 15px;text-align: justify;">
        	<td align="center">
        	Readability<br /><img src="../images/extension/type4.png" width="100"><br />Lisibilité	
        	</td>
        	<td style="padding: 15px;text-align: justify;">
					The system has been able to automatically calculate the readability score of the page. Basic knowledge of health terminology required.
        	<br /><br />
        	<img src="../flags/fra.svg" width="12" valign="middle"> Le système a été capable d’évaluer automatiquement le score de lisibilité de la page. Connaissances basiques en terminologie médicale nécessaires.
        	</td>	
        	</tr>	
        	
        	<tr style="padding: 15px;text-align: justify;">
        	<td align="center">
        	Trustability<br /><img src="../images/extension/type5.png" width="100"><br />Confiance	
        	</td>
        	<td style="padding: 15px;text-align: justify;">
					The system has been able to automatically calculate the trust level score. A few principles have not been detected.
					<br /><br />
					<img src="../flags/fra.svg" width="12" valign="middle"> Le système a été capable d’évaluer automatiquement le niveau de confiance de la page. Quelques principes n’ont pas été détectés.
					</td>	
        	</tr>	
        	
        	<tr style="padding: 15px;text-align: justify;">
        	<td align="center">
        	Trustability<br /><img src="../images/extension/type6.png" width="100"><br />Confiance
        	</td>
        	<td style="padding: 15px;text-align: justify;">
					The system has been able to automatically calculate the trust level score. Much principles have not been detected.
					<br /><br />
					<img src="../flags/fra.svg" width="12" valign="middle"> Le système a été capable d’évaluer automatiquement le niveau de confiance de la page. La majeure partie des principes n’a pas été détectée.
					</td>	
        	</tr>	
        	
        	<tr style="padding: 15px;text-align: justify;">
        	<td colspan="2" align="center">
        	<img src="../images/extension/type7.png" width="350">	
        	&nbsp;&nbsp;&nbsp;&nbsp;
        	<img src="../images/extension/type8.png" width="350">	
        	</td>
        	</tr>	
        	
        	
        	</tbody>
        	</table>
        	
<p>&nbsp;</p>
        <div style="text-align: justify;">
            <h1>Trust what you read on the Web – Background and Disclaimer</h1>
            <p>The general objectives of the Web browser extension are to propose a
                tool to access trustworthy health information online.</p>
            <p>The HONcode, the quality criteria defined for health and medical Web
                publishers by the Health On the Net (HON) Foundation is a set of
                ethical, honesty, transparency and quality standards covering various
                aspects of health website content production. HONcode certification
                process is a manual process conducted by HON team members assessing
                health website according to the HONcode. The HONcode is the most used
                model for the identification of health sites that are trustworthy and
                respect quality criteria.</p>
            <p>The HONcode certification only covers a limited portion of the Health
                Web so within the KHRESMOI.eu, and Kconnect.eu European projects, HON
                investigated different approaches to improve access to quality health
                information online.</p>
            <p>Three approaches are addressed: query formulation, readability of
                health documents and trust level. The research focuses on the use of
                intelligent information access (IIA) to promote quality health
                websites by developing computer algorithms that automatically
                identify the presence of HONcode principles on a site.</p>
            <p>The trust level approach has concentrated the major research
                activities on benchmarking and assessing natural language
                processing (NLP) methods for the automated detection of HONcode
                principles. Systematic evaluation, and usability testing have been
                conducted to assess the validity of the automatic methods and have
                been publish in European deliverables and scientific publications
                listed below.  In general the automated detection of the presence of
                HONcode principles is producing very good results. Please note that
                the trust and readability scores are defined by an automated system
                so in some cases it can be deficient or not optimum.</p>
            <p>If you have any question or comment regarding this extension, please
                do not hesitate to review it and fill your comments
                <a href="https://chrome.google.com/webstore/detail/health-trust-indicator/bnfgfpgfhhgphaagbngdclnbacabodof/support/">
                    here</a>.
                If you want to reach the Health On the Net Foundation, contact
                us at <a href="mailto:HONsecretariat@healthonnet.org">HONsecretariat@healthonnet.org</a>
                As every information found on the Web, results can not replace the
                advice of a health professional.</p>
            <h2>Authorship and Funding sources</h2>
            <p>This extension is provided by the KConnect European Project
                (<a href="http://kconnect.eu/">http://kconnect.eu/</a>) and maintained
                by the Health On the Net Foundation, a non-governmental organization
                (NGO) holding a special relationship with the World Health
                Organization (WHO).</p>
            <p>The scientific research has been conducted by the HON Team, as part
                of the KConnect and KHRESMOI European Projects. The health search
                engine is the results of KHRESMOI and KConnect partners' work
                especially Charles University (CUNI), Prague, Czech Republic;
                The University of Sheffield GATE team (USFD), UK; Ontotext (ONTO),
                Sofia, Bulgaria and the Health On the Net Foundation. The work has
                been funded by these European projects. There is no advertisement.</p>
            <h2>Privacy Policy</h2>
            <p>Anonymous data is always collected when someone uses the Health
                Trust indicator extension so that we might analyze how users use
                the Web browser extension and improve our services. No usage of cookies.</p>
            <p>Contribute to this open source project :
                <a href="https://github.com/healthonnet/HON-Health-Trust-Indicator">
                    HON-Health-Trust-Indicator</a>
            <h2>Limitations of the extension</h2>
            <p>The service is not able to analyze pdf, or AJAX content. Majors'
                reasons for the system to retrieve no result: Not able to retrieve
                the content; No content to measure within the webpage;</p>
            <h2>Date of publication</h2>
            <p>December 2016</p>
            <h2>Date of modification</h2>
            <p>12 December 2017</p>
            <h2>References</h2>
            <p>Extract from the thesis dissertation of Boyer Walther, Célia. 2016. Methods and tools to retrieve reliable health information on the internet. Ph.D. diss., http://nbn-resolving.de/urn:nbn:ch:unige-889074 (accessed December 6, 2016)</p>
            <p>Boyer, C. 2013. The Internet and Health: International Approaches to Evaluating the Quality of Web-Based Health Information. <i>eHealth: Legal, Ethical and Governance Challenges</i> (pp. 245-274). Springer Berlin Heidelberg.</p>
            <p>Boyer, C. and L. Dolamic. 2014. Feasibility of automated detection of HONcode conformity for health-related websites. <i>International Journal of Advanced Computer Science and Applications (IJACSA)</i>, 5(3), 2014. URL: http://dx.doi.org/10.14569/IJACSA.2014.050309</p>
            <p>———. 2015a. Automated Detection of HONcode Website Conformity Compared to Manual Detection: An Evaluation. <i>J Med Internet Res, 2015</i>; 17(6):e135. URL: http://www.jmir.org/2015/6/e135.</p>
            <p>———. 2015b. N-gram as an alternative to stemming in the automated HONcode detection for English and French. <i>RJCIA conférence</i>, Rennes 2015 (Rencontres des Jeunes Chercheurs en Intelligence Artificielle).</p>
            <p>Boyer, C., L. Dolamic, G. Falquet. 2015. Language independent tokenization vs. stemming in automated detection of health websites’ HONcode conformity: An Evaluation. <i>Procedia Computer Science</i>, ISSN: 1877-0509. International Conference on Health and Social Care Information Systems and Technologies (HCist 2015) October 7-9, 2015, 64 (2015): 224–31. doi:10.1016/j.procs.2015.08.484.</p>
            <p>Boyer, C., L. Dolamic and N. Grabar. 2015. Automated detection of health websites' HONcode conformity: can N-gram tokenization replace stemming? <i>MEDINFO 2015: Medical Informatics</i>. 19-23 August 2015, Sao-Paulo, Brazil. Poster.</p>
            <p>Boyer, C., L. Dolamic, M. Ranasinghe and V. Baujard. 2015. An Automated HONcode Detection System Informs Internet Users of HONcode Compliance. <i>Proceedings of Swiss Medical Informatics 31</i>: 14 September 2015. doi:10.4414/smi.31.333</p>
            <p>Boyer, C., L. Dolamic, P. Ruch and G. Falquet. 2016. Effect of the Named Entity Recognition and Sliding Window on HONcode automated detection of HONcode criteria for mass online health content. <i>Proceedings of the 9th International Joint Conference on Biomedical Engineering Systems and Technologies</i> (BIOSTEC 2016). Vol. 5:HEALTHINF, pp. 151-158 ISBN: 978-989-758-170-0. doi:10.5220/0005644301510158</p>
            <p>Boyer, C., M. Selby, J. R. Scherrer, and R. D. Appel. 1998. The Health On the Net Code of Conduct for Medical and Health Websites. <i>Computers in Biology and Medicine 28</i>, no. 5 (September 1998): 603–10.</p>
            <p>Boyer, C. J. Brassey, E. Jofoldi, Z. Varju, Z. Farago, 2016. KConnect Deliverable D3.2: Prototypes of Vertical Search Solutions, version 0.1. Submitted to the European Commission on 1 May 2016. Distribution level: Confidential. </p>
            <p>Boyer, C., O. Baujard, V. Baujard, S. Aurel, M. Selby, and R. D. Appel. 1997. Health On the Net Automated Database of Health and Medical Information. <i>International Journal of Medical Informatics 47</i>, no. 1–2 (November 1997): 27–29.</p>
            <p>Boyer, C., J. Hajic, A. Hanbury, M. Kritz, N. Pletneva, P. Schneller, V. Stefanov, Z. Ureskova. 2014. Deliverable 10.3 KHRESMOI EU project: <i>Report on the extensive tests with final search system KHRESMOI 2014</i>. Technical Public deliverable, August 2014. DOI: 10.13140/RG.2.1.3086.1928. Affiliation: Grant Agreement Number: 257528 KHRESMOI URL: www.khresmoi.eu</p>

            <p>2010-2014—Khresmoi (Knowledge Helper for Medical and Other
                Information users - FP7 – 257528) (Hanbury et al 2011),
                supported by the European Commission under the Information
                and Communication Technologies (ICT) Theme of the 7th Framework
                Programme for Research and Technological Development, with 11
                partners. The Khresmoi project developed a multilingual, multimodal
                search and access system for medical and health information and
                documents in order to address the challenges of retrieving the
                relevant health information located in huge amounts of medical data.
                Khresmoi for Everyone offers HONcode certified websites and a curated
                list of online health resources that are manually checked to ensure
                that they meet the HONcode criteria for health information online.
                It aims to facilitate access to high-quality health information for
                Internet users and, through this, fulfill the right to information
                and health. Within this project, HON developed the health search
                engine and started research related to the automated detection of
                HONcode principles.</p>
            <p>2015-2017—KConnect (search technologies for medical information),
                with funding from the European Union’s Horizon 2020 Framework
                Programme for Research and Innovation (No 644753), with 10 partners.
                KConnect aims to develop health search services based on the research
                conducted previously in Khresmoi. HON is finalizing the research
                related to the automated detection of HONcode principle as well as
                finding solutions to integrate it into easy-to-use tools. HON is also
                in charge of developing services based on classification to guide the
                end user toward health content sorted according to the complexity of
                the content and to assess health websites according to the HONcode
                principles. HON is involved in providing users with a semantic search
                adapted to their needs.</p>
        </div>
        </div>
    </div>
</div>
