<div class="v-align-30">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-2">
      <h1 id="kconnect">connect search</h1>
      <form action="search">
        <div class="input-group stylish-input-group">
          <input type="text" class="search" placeholder="{{ 'SEARCH_MEDICAL_TERMS' | translate }}" name="q" ng-value="param">
          <span class="input-group-addon search-icon">
                  <button type="submit" class="btn">
                      <i class="fa fa-2x fa-search" aria-hidden="true"></i>
                  </button>
              </span>
        </div>
      </form>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-1 filter-tag">
      All <span>47.321.500</span> -
      Symptoms <span>1.425</span> -
      Treatments <span>49</span>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-1 filter-tag bg-info" ng-show="showCommercials">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="showCommercials = false" ng-init="showCommercials = true">&times;</span></button>
      <h4>Benefits</h4>
      <p>
        Not for profit |
        No <span>ads</span> |
        No <span>cookies</span>
      </p>
      <p>
        Lookup our <a href="/privacy">Privacy Policies</a>
      </p>
    </div>
  </div>
</div>

<div ng-include="'views/partials/footer.html'"></div>
