<div class="col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1" id="imageSearch">
  <div class="row">
    <form action="images">
      <input type="text" class="search row" placeholder="{{ 'SEARCH_MEDICAL_TERMS' | translate }}" name="q" ng-value="param">
    </form>
  </div>

  <div class="row results">
      <p>About {{images.length}} results</p>
      <ul class="dynamic-grid" angular-grid="images"
          ag-options="angularGridOptions" ag-grid-id="gallery" ag-infinite-scroll="loadImages()">
        <li data-ng-repeat="image in images" class="grid">
          <img src="{{image.url}}" class="grid-img"
               data-actual-width = "{{image.actualWidth}}"
               data-actual-height="{{image.actualHeight}}" />
        </li>
      </ul>
      <div class="col-md-4 text-center">
        <button type="submit" ng-click="loadImages()" class="btn btn-lg btn-default">{{ 'LOAD_MORE' | translate }}</button>
      </div>
      <br>
  </div>
</div>
<div ng-include="'views/partials/footer.html'"></div>
