<div class="vert-padding-top-4 languageView">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <h1 id="kconnect">{{ 'mobile-language' | translate }}</h1>
    <hr>
    <h2>{{'CHOOSE_YOUR_LANGUAGE' | translate}}</h2>
    <div class="row">
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('bg')" class="btn country">
          <span class="block">{{languages.bg.name}}</span>
          <span class="flag flag-bg"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('cs')" class="btn country">
          <span class="block">{{languages.cs.name}}</span>
          <span class="flag flag-cz"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('da')" class="btn country">
          <span class="block">{{languages.da.name}}</span>
          <span class="flag flag-dk"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('de')" class="btn country">
          <span class="block">{{languages.de.name}}</span>
          <span class="flag flag-de"></span>
          <span class="flag flag-at"></span>
          <span class="flag flag-ch"></span>
          <span class="flag flag-lu"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('el')" class="btn country">
          <span class="block">{{languages.el.name}}</span>
          <span class="flag flag-gr"></span>
          <span class="flag flag-cy"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('et')" class="btn country">
          <span class="block">{{languages.et.name}}</span>
          <span class="flag flag-ee"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('en')" class="btn country">
          <span class="block">{{languages.en.name}}</span>
          <span class="flag flag-gb"></span>
          <span class="flag flag-ie"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('es')" class="btn country">
        <span class="block">{{languages.es.name}}</span>
          <span class="flag flag-es"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('hr')" class="btn country">
          <span class="block">{{languages.hr.name}}</span>
          <span class="flag flag-hr"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('fr')" class="btn country">
          <span class="block">{{languages.fr.name}}</span>
          <span class="flag flag-fr"></span>
          <span class="flag flag-be"></span>
          <span class="flag flag-ch"></span>
          <span class="flag flag-lu"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('it')" class="btn country">
          <span class="block">{{languages.it.name}}</span>
          <span class="flag flag-it"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('lv')" class="btn country">
          <span class="block">{{languages.lv.name}}</span>
          <span class="flag flag-lv"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('lt')" class="btn country">
          <span class="block">{{languages.lt.name}}</span>
          <span class="flag flag-lt"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('hu')" class="btn country">
          <span class="block">{{languages.hu.name}}</span>
          <span class="flag flag-hu"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('mt')" class="btn country">
          <span class="block">{{languages.mt.name}}</span>
          <span class="flag flag-mt"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('nl')" class="btn country">
          <span class="block">{{languages.nl.name}}</span>
          <span class="flag flag-nl"></span>
          <span class="flag flag-be"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('pl')" class="btn country">
        <span class="block">{{languages.pl.name}}</span>
          <span class="flag flag-pl"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('pt')" class="btn country">
        <span class="block">{{languages.pt.name}}</span>
          <span class="flag flag-pt"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('ro')" class="btn country">
        <span class="block">{{languages.ro.name}}</span>
          <span class="flag flag-ro"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('sk')" class="btn country">
        <span class="block">{{languages.sk.name}}</span>
          <span class="flag flag-sk"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('sl')" class="btn country">
        <span class="block">{{languages.sl.name}}</span>
          <span class="flag flag-si"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('fi')" class="btn country">
        <span class="block">{{languages.fi.name}}</span>
          <span class="flag flag-fi"></span>
        </button>
      </div>
      <div class="col-sm-6 col-md-3 space">
        <button ng-click="changeTo('sv')" class="btn country">
        <span class="block">{{languages.sv.name}}</span>
          <span class="flag flag-se"></span>
        </button>
      </div>
    </div>
  </div>
</div>