<ng-include ng-if="!param" src="'views/partials/middle-search.html'"></ng-include>

<div class="col-xs-11 col-xs-offset-1" id="imageSearch" ng-show="param">
  <div class="row">
      <form ng-submit="submit()">
          <div class="input-group stylish-input-group">
              <input type="text" class="search" placeholder="{{ 'SEARCH_MEDICAL_TERMS' | translate }}" ng-model="form.param">
              <span class="input-group-addon search-icon">
                  <button type="submit" class="btn">
                      <i class="fa fa-2x fa-search" aria-hidden="true"></i>
                  </button>
              </span>
          </div>
      </form>
  </div>

  <div class="row">
    <div class="col-md-8 results">
      <p>About {{results.length}} results</p>
      <div class="row" ng-repeat="link in results track by $index">
        <div class="col-sm-4">
          <img src="{{link.coverUrl}}" style="width: 100%;" ng-if="link.coverUrl">
        </div>
        <div class="col-sm-8">
          <h2>
            <!-- <img ng-src="{{ link.url | favicon }}" alt="favicon"> -->
            <a href="{{link.website}}">{{link.title}}</a>
          </h2>
          <p>
            <a href="{{link.website}}" ng-if="link.website" ng-bind-html="link.website | spanWord:param"></a>
          </p>
          <p ng-bind-html="link.description | spanWord:param" ng-if="link.description">
          </p>
          <p>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            {{ link.lastUpdated | date:'' }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'views/partials/footer.html'"></div>
