<div class="col-sm-12 filters">
  <button class="btn" ng-class="{ 'btn-info': filters.seniors, 'btn-default': !filters.seniors }" ng-click="activateFilter('seniors')">{{ 'FIL_SENIOR' | translate }}</button>
  <button class="btn" ng-class="{ 'btn-info': filters.men, 'btn-default': !filters.men }" ng-click="activateFilter('men')">{{ 'FIL_MAN' | translate }}</button>
  <button class="btn" ng-class="{ 'btn-info': filters.women, 'btn-default': !filters.women }" ng-click="activateFilter('women')">{{ 'FIL_WOMAN' | translate }}</button>
  <button class="btn" ng-class="{ 'btn-info': filters.kids, 'btn-default': !filters.kids }" ng-click="activateFilter('kids')">{{ 'FIL_KIDS' | translate }}</button>
  <button class="btn" ng-class="{ 'btn-info': filters.forum, 'btn-default': !filters.forum }" ng-click="activateFilter('forum')">{{ 'FIL_FORUM' | translate }}</button>
  <button class="btn" ng-class="{ 'btn-info': filters.gov, 'btn-default': !filters.gov }" ng-click="activateFilter('gov')">{{ 'FIL_GOV' | translate }}</button>
  <button class="btn" ng-class="{ 'btn-info': filters.assoc, 'btn-default': !filters.assoc }" ng-click="activateFilter('assoc')">{{ 'FIL_ASSOC' | translate }}</button>
  <button class="btn" ng-class="{ 'btn-info': filters.info, 'btn-default': !filters.info }" ng-click="activateFilter('info')">{{ 'FIL_HEALTH_AND_MEDICAL_INFO' | translate }}</button>
  <button class="btn" ng-class="{ 'btn-info': filters.clinic, 'btn-default': !filters.clinic }" ng-click="activateFilter('clinic')">{{ 'FIL_HEALTHCARE_PROVIDERS' | translate }}</button>
  <button class="btn" ng-class="{ 'btn-info': filters.video, 'btn-default': !filters.video }" ng-click="activateFilter('video')">{{ 'FIL_VID' | translate }}</button>
  <button class="btn" ng-class="{ 'btn-info': filters.services, 'btn-default': !filters.services }" ng-click="activateFilter('services')">{{ 'FIL_PRODUCTS_AND_SERVICES' | translate }}</button>
  <button class="btn" ng-class="{ 'btn-info': filters.research, 'btn-default': !filters.researcg }" ng-click="activateFilter('research')">{{ 'FIL_RESEARCH' | translate }}</button>
  <button class="btn" ng-class="{ 'btn-info': filters.all, 'btn-default': !filters.all }" ng-click="resetFilters()">{{ 'FIL_ALL_NO_EXCEPTIONS' | translate }}</button>
</div>
