<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <button class="btn btn-default">Seniors</button>
    <button class="btn btn-default">Men</button>
    <button class="btn btn-info">Women</button>
    <button class="btn btn-default">Kids</button>
    <button class="btn btn-default">Forums</button>
    <button class="btn btn-default">Governmental organizations</button>
    <button class="btn btn-default">Association / Foundation</button>
    <button class="btn btn-default">Health and medical info</button>
    <button class="btn btn-default">Healthcare providers</button>
    <button class="btn btn-default">Pages with video</button>
    <button class="btn btn-default">Products and services</button>
    <button class="btn btn-default">Research</button>
  </div>
</div>
