<p class="text-center">
  <a href="about">{{ 'PAGE_ABOUT_LI' | translate }}</a>
  &mdash;
  <a href="disclaimer">{{ 'PAGE_DISCLAIMER_LI' | translate }}</a>
  &mdash;
  <a href="privacy">{{ 'PAGE_PRIVACY_LI' | translate }}</a>
  &mdash;
  <a href="help">{{ 'PAGE_HELP_LI' | translate }}</a>
</p>
<p class="text-center">
  © 2017 <a href="https://hon.ch" target="_blank">Health On the Net</a>
  &mdash;
  <a href="https://kconnect.eu" target="_blank">KConnect</a>
  &mdash;
  <span>{{version}}</span>
</p>
