<footer class="navbar navbar-default navbar-fixed-bottom ">
  <div class="container-fluid">
    <p class="navbar-text text-center col-xs-12 col-sm-8">
      <a href="about">{{ 'PAGE_ABOUT_LI' | translate }}</a>
      |
      <a href="disclaimer">{{ 'PAGE_DISCLAIMER_LI' | translate }}</a>
      |
      <a href="privacy">{{ 'PAGE_PRIVACY_LI' | translate }}</a>
      |
      <a href="help">{{ 'PAGE_HELP_LI' | translate }}</a>
    </p>
    <div id="social-links" class="navbar-btn pull-right text-center col-xs-12 col-sm-3">
      <a href="#"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
      <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
      <a href="mailto:"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
    </div>
  </div>
</footer>
