<div class="navbar navbar-default navbar-fixed-left navbar-transparent">
  <ul class="nav navbar-nav">
    <li><a href="/" title="{{ 'TITLE' | translate }}"><img src="images/kconnect.svg" id="logotype"/></a></li>
  </ul>
  <ul class="nav navbar-nav navbar-middle">
   <li><a href="#" title="{{ 'FILTER' | translate }}"><i class="fa fa-3x fa-filter" aria-hidden="true"></i>{{ 'FILTER' | translate }}</a></li>
   <li><a href="images" title="{{ 'PICTURES' | translate }}"><i class="fa fa-3x fa-picture-o" aria-hidden="true"></i>{{ 'PICTURES' | translate }}</a></li>
   <li><a href="#" title="{{ 'SEARCH_PRO' | translate }}"><i class="fa fa-3x fa-user-md" aria-hidden="true"></i>{{ 'SEARCH_PRO' | translate }}</a></li>
   <li><a href="#" title="{{ 'NEWS' | translate }}"><i class="fa fa-3x fa-newspaper-o" aria-hidden="true"></i>{{ 'NEWS' | translate }}</a></li>
   <li><a href="#" title="{{ 'LOW_VISION' | translate }}"><i class="fa fa-3x fa-low-vision" aria-hidden="true"></i>{{ 'LOW_VISION' | translate }}</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-bottom">
    <li><a href="#" title="{{ 'SETTINGS' | translate }}"><i class="fa fa-3x fa-cog" aria-hidden="true"></i>{{ 'SETTINGS' | translate }}</a></li>
  </ul>
</div>
