<div ng-controller="ProvisuController" class="col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-1 btn-group provisu" role="group" aria-label="...">
  <button class="btn btn-default tooltip-wt provisu-tooltip" ng-click="showWhite()">
    <i class="fa fa-2x fa-low-vision" aria-hidden="true"></i>
  </button>
  <button class="btn btn-default tooltip-bk provisu-tooltip" ng-click="showBlack()">
    <i class="fa fa-2x fa-low-vision" aria-hidden="true"></i>
  </button>
  <button class="btn btn-default tooltip-bl provisu-tooltip" ng-click="showBlue()">
    <i class="fa fa-2x fa-low-vision" aria-hidden="true"></i>
  </button>
  <button class="btn btn-default tooltip-cy provisu-tooltip" ng-click="showCyan()">
    <i class="fa fa-2x fa-low-vision" aria-hidden="true"></i>
  </button>
  <button class="btn btn-default provisu-tooltip" ng-click="smaller()">
    <i class="fa fa-2x fa-minus" aria-hidden="true"></i>
  </button>
  <button class="btn btn-default provisu-tooltip" ng-click="bigger()">
    <i class="fa fa-2x fa-plus" aria-hidden="true"></i>
  </button>
</div>
