<div ng-if="screenshot" class="screenshot">
  <div class="row">
    <div class="col-xs-11">
      <h2>{{screenshot.site | cut:true:15:' ...'}}</h2>
    </div>
    <div class="col-xs-1">
      <button class="pull-right btn btn-default btn-padding" ng-click="showScreenshot()"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="row space-bottom">
    <div class="col-md-4" ng-include="screenshot.cards[0]">
    </div>
    <div class="col-md-4" ng-include="screenshot.cards[1]">

    </div>
    <div class="col-md-4" ng-include="screenshot.cards[2]">

    </div>
  </div>
  <div class="row">
    <h3>{{ 'PREVIEW' | translate }}</h3>
    <a href="{{screenshot.url}}" ng-if="screenshot.url"><img hide-until-good ng-src="{{screenshot.preview}}" alt="{{'SCREENSHOT' | translate}}" title="{{'SCREENSHOT' | translate}}"></a>
  </div>
</div>
