.apps {
  margin-top: 50px;
  .app {
    border: solid silver 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    .icon-wrapper {
      position: relative;
      .img-wrapper{
        width: 100%;
        padding-bottom: 100%; /* your aspect ratio here! */
        position: relative;
        img{
          max-width: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          max-height: 100%;
        }
      }
      .icon-modal {
        position: absolute;
        top: 0;
        background-color: rgba(0,0,0,0.5);
        color: white;
        padding: 10px;
        height: 100%;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        text-align: justify;
        overflow: hidden;
      }
    }
    .btn {
      padding: 6px 5px;
    }
    img {
      width: 100%;
    }
    h5 {
      text-align: center;
      min-height:2.5em;
    }
    .col-xs-6 {
      text-align: center;
    }
  }
}
