footer {
  #social-links {
    #social-fb:hover {
      color: #3B5998;
    }
    #social-tw:hover {
      color: #4099FF;
    }
    #social-gp:hover {
      color: #d34836;
    }
    #social-em:hover {
      color: #f39c12;
    }
  }
}

footer.absolute {
  position: absolute;
  width: 100%;
  bottom: 10px;
}
