@import 'colors';

html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
}

@mixin card() {
  box-shadow: 0 1px 1px gainsboro;
  background: white;
  border-radius: 2px;
  border: solid rgb(245,245,245) 1px;
  margin: 12px 0;
}

body.grey {
  background: rgb(250,250,250);
  input.search {
    background: rgb(250,250,250);
  }
  .fathead {
    @include card();
  }
  .card {
    @include card();
    padding: 20px;
    h2 {
      margin-top: 0;
    }
  }
  .search-details {
    position: absolute;
    right: 10px;
    top: 0;
    height: inherit;
  }
  .sticky-card {
    right: 25px;
  }
}

a {
  color: $secondary-color;
}

body:after{
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: $secondary-color;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

@mixin v-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

.fill {
  min-height: calc(100% - 80px);
}

.left-margin {
  margin-left: 160px;
}

#logotype {
  width: 50px;
}

.language {
  z-index: 100000;
  a {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
  }
}

@media (min-width: 768px) {
  .language {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.navbar-fixed-bottom {
  margin-left: 140px;
}

.middle-search {
  margin-top: 10%;
  margin-bottom: 50px;
}

/**
* Helpers
*/

.jigsaw {
  height: 100%;
  margin-top: 10px;
  position: relative;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  display: block;
  padding: 0.7em;
  color: #000;
  &::before {
    z-index: 10;
    background-color: $bg-info;
    content: "";
    width: 2em;
    height: 2em;
    position: absolute;
    top: 1em;
    right: -1.1em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
  }
  &:not(.bg-info) {
    background-color: white;
    &::before {
      background-color: white;
    }
  }
  &.jigsaw-big {
    margin-top: 0;
    width: 100%;
    &:not(.bg-info) {
      &::before {
        background-color: white;
        right: 4em;
        left: auto;
      }
    }
    &::before {
      top: 3.8em;
      left: 4em;
      right: initial;
    }
    input {
      font-size: 30px;
    }
    ul.dropdown-menu {
      width: 100%;
    }
  }
  input {
    outline: none;
    width: 100%;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 1.5em;
  }
  ul.dropdown-menu {
    width: initial;
  }
}

@for $i from 0 through 12 {
  .vert-offset-top-#{$i} {
    margin-top: #{$i}em;
  }
  .vert-padding-top-#{$i} {
    padding-top: #{$i}em;
  }
  .vert-offset-bottom-#{$i} {
    margin-bottom: #{$i}em;
  }
  .vert-padding-bottom-#{$i} {
    padding-bottom: #{$i}em;
  }
}

$i: 6;
@while $i < 100 {
  .font-size-#{$i} {
    font-size: #{$i}px;
  }
  $i: $i + 4;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}