@import 'colors';

html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
}

a {
  color: $secondary-color;
}

body:after{
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: $secondary-color;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

@mixin v-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

.fill {
  min-height: calc(100% - 80px);
}

.left-margin {
  margin-left: 160px;
}

#logotype {
  width: 50px;
}

.language {
  z-index: 100000;
  a {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
  }
}

@media (min-width: 768px) {
  .language {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.navbar-fixed-bottom {
  margin-left: 140px;
}

.middle-search {
  margin-top: 10%;
  margin-bottom: 50px;
}

/**
* Helpers
*/
@for $i from 0 through 12 {
  .vert-offset-top-#{$i} {
    margin-top: #{$i}em;
  }
  .vert-padding-top-#{$i} {
    padding-top: #{$i}em;
  }
  .vert-offset-bottom-#{$i} {
    margin-bottom: #{$i}em;
  }
  .vert-padding-bottom-#{$i} {
    padding-bottom: #{$i}em;
  }
}
