.news {
  .border {
    border: solid silver 1px;
    margin-bottom: 15px;
  }
  .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 150px;
    display: block;
  }
}
