@import 'colors.scss';

.fathead {
  max-height: 300px;
  width: 100%;
  padding: 10px 0;
  border-bottom: silver 1px solid;
  h2 {
    color: $primary-color;
  }
  p {
    color: $primary-color;
    text-align: justify;
  }
}

.results {
  p {
    span {
      font-weight: 900;
    }
    a {
      color: green;
    }
  }

  .translation-btn{
    display: inline-block;
    height: 35px;
    width: 40px;
    position: relative;
    font-size:inherit;
    padding:0;
    .flag-behind{
      position:absolute;
      top:2px;
      left:3px;
      z-index:0;
      -webkit-transition:all 0.5s ease;
      -moz-transition:all 0.5s ease;
      -o-transition:all 0.5s ease;
      transition:all 0.5s ease;
    }
    .flag-above {
      position: absolute;
      top:8px;
      left:8px;
      z-index:1;
      -webkit-transition:all 0.5s ease;
      -moz-transition:all 0.5s ease;
      -o-transition:all 0.5s ease;
      transition:all 0.5s ease;
    }
  }

  h2 {
    font-size: 20px;
    img {
      margin-top: -5px;
      height: 20px;
    }
  }
  .text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  }

  .filter-tabs {
    margin-top: 10px;
    border: none;
    li {
      a {
        color: $primary-color;
      }
      span {
        color: $secondary-color;
      }
    }
    li.active {
      a {
        border: none;
        border-bottom: solid $secondary-color 3px;
      }
      span {
        font-weight: 900;
        color: $primary-color;
      }
    }
  }
}

.top-search,
.middle-search {
  .dropdown-menu {
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    font-size: 1.3em;
    li {
      margin-bottom: 5px;
    }
  }
}

.search-details {
  height: 100%;
  img {
    width: 100%;
  }
}

.screenshot {
  .progress-wrapper {
    position: relative;
    .text {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      text-align: center;
      width: 100%;
      z-index: 1;
      color: $primary-color;
    }
  }
  .space-bottom {
    margin-bottom: 20px;
  }
  h3 {
    font-size: 12px;
    text-align: center;
  }
  .btn-padding {
    margin: 10px;
  }
}

.filters {
  .btn {
    margin: 5px;
  }
}
